.Rproj.user
.Rhistory
.RData
.Ruserdata
*.bar
*.b01
*.b02
*.b03
*.b04
*.eva
*.htp
*.log
*.obj
*.p01
*.p02
*.p03
*.p04
report.rep
rtem.rep
proj.dat
gradient.dat
*gradient.1
*gradient.2
*gradient.3
*gradient.4
*.r01
*.r02
*.r03
*.r04
*.cov
*.dep
*.hes
*.cor
*.std
*evalout.prj